#app {
  padding: .5rem;
  height: 100vh;
  width: 100vw;
  display: flex;
  color: #fff;
  background-color: #F2F2F7;
  background-image: url('/src/assets/image/bg/bg-image-2-1.svg');
  background-repeat: no-repeat;
  background-size: cover;
}